extends ../../common/layout
block content
    include modals/invite_modal.pug
    include modals/join_modal.pug
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.align-self-center
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="/") Community
        #navbarContents.collapse.navbar-collapse.justify-content-between
            ul.navbar.navbar-nav
                li.nav-item
                    a(href="#" class="nav-link" data-toggle="modal" data-target="#joinModal") Join Community
                li.nav-item
                    a(href="#" class="nav-link" data-toggle="modal" data-target="#inviteModal") Invite
            .navbar-nav
                a.nav-link.dropdown-toggle.transparent.btn-transparent(href="#" id="navbarProfileDropdown" data-toggle="dropdown", aria-haspopup="true" aria-expanded="false")
                    img(src="https://randomuser.me/api/portraits/men/65.jpg", class="avatar rounded-circle", alt="MikeS") 
                    | #{session.username}
                .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarProfileDropdown")
                    a(class="dropdown-item" href="#") Edit Profile
                    a(class="dropdown-item" href="#") Settings
                    a(class="dropdown-item" href="#" data-toggle="modal" data-target="#inviteModal") Invite
                    .dropdown-divider
                    a(class="dropdown-item" href="" id="logout") Logout
    #content.h-100
        .continer-fluid.h-100
            .row.no-gutters.h-100
                #communityList.col-2.bg-light(style="min-width:100px")
                    #communityListHeading.p-2
                        b Communities
                        ul#communities
                #messageContainer.col-8
                    div#messages.container
                .col-2.bg-light(style="min-width:100px")
                    #memberListHeading.p-2
                        div Online
                        div#userListOnline.p-2
                        div Offline
                        div#userListOffline.p-2
    footer.bg-dark
        form(action='./' method='post' id='chatForm')
            .container-fluid.no-gutters
                .row.no-gutters
                    .col-10.p-2
                        input(id='txt' class='form-control' autocomplete='off', autofocus='on', placeholder='Type your message here...')
                    .col-2.p-2
                        button(class='btn btn-primary btn-block') Send
    script.
        let host_url = '#{ host }';
        let socket = io.connect(host_url);
        let channel = '#{ channel }';
        let chatName = '#{session.username}'
        let lastUser = "";
        let avatar = "";

        socket.on('connect', function(){
            socket.emit('adduser', chatName, channel);
        })

        socket.on('updatechat', function(username, data) 
        {
            if (lastUser != username)
            {
                if (username == "Tom")
                    avatar = "https://randomuser.me/api/portraits/men/62.jpg";
                if (username == "Mike")
                    avatar = "https://randomuser.me/api/portraits/men/65.jpg";
                else
                    avatar = "https://randomuser.me/api/portraits/men/60.jpg";

                $('#messages').append('</div>');
                let html = '<div class="row mb-2 p-2">';
                html += '<div class="col-lg-1 text-center"><img src="'+avatar+'" class="avatar rounded-circle" /></div>';
                html += '<div class="col-lg-11 usertext '+username+'_message"> <b>'+username+'</b> <small>'+ getFormattedDate() + '</small><br />' + data;
                $('#messages').append(html);
            }
            else
            {
                $('#messages div.'+username+'_message:last').append('<br />' + data);
            }
           
            $('#messageContainer').animate({
                scrollTop: $("#messages div").last().offset().top - 50
            },
            1000);

            lastUser = username;
        })

        socket.on('updateusers', function(usernames) {
            $('#userListOnline').html('');
            $.each(usernames, function(key, val){
                $('#userListOnline').append($('<div id="'+val+'">').html(val));
            })
        });
        
        $('form').submit(function(e) {
            e.preventDefault();
            let txt = ($('#txt').val());
            if (txt.trim() == "")
                return;
                
            socket.emit('sendchat', txt);
            $('#txt').val('');

            return false;
        });

        function getFormattedDate() {
            var date = new Date();
            var str = date.getHours() + ":" + date.getMinutes();

            return str;
        }

        function resetError(id)
        {
            $(id).hide();
            $(id).html('');
        }

        $('#joinCommunity').click(function(e){
            e.preventDefault();
            let inviteCode = $('#inviteCodeValue').val().trim();
            
            resetError('#inviteCodeError');
            
            if (inviteCode == '')
            {
                $('#inviteCodeError').show();
                $('#inviteCodeError').html('Error: Enter a valid invite code');
            }
            else
            {
                let data = { "invite_code": inviteCode };
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '//' + host_url + '/community/join',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function(response) {
                        if (response.status == 'ok') 
                        {
                            getUserCommunities();
                            $('#joinModal').modal('hide')
                        }
                    },
                    error: function(err) {
                    
                    }
                });
            }
        });
        
        function getUserCommunities()
        {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "//" + host_url + "/community/get_joined_communities",
                data: JSON.stringify({ 'fetch': true }),
                dataType: 'json',
                success: function(response) {
                    if (response.status == 'ok') 
                    {
                        $('#communities').html('');

                        $.each(response.communities, function(key, val){
                            $('#communities').append($('<div id="'+val._id+'" >').html('<a href=/community/room/'+val._id+'>#' + val.community_name+'</a>'));
                        })
                    }
                },
                error: function(err) {
                
                }
            });
        }
        $(document).ready(function(){
           getUserCommunities();
        });

        $('#logout').click(function(e){
            
            e.preventDefault();
            
            $.ajax({
                type: 'POST',
                url: '//' + host_url + '/users/logout',
                contentType:  'application/json; charset=utf-8',
                data: JSON.stringify({ 'logout': true }),
                dataType: 'json',
                success: function(response){
                    if (response.status == 'ok') {
                        window.location.replace('//' + host_url + '/')
                    }
                    else {
                        
                    }
                },
                failure: function(error) {
                    $('.invalid-feedback').html('Username Taken');
                    $('#email').addClass('is-invalid');
                }
            });
        });

